::ng-deep .navCss nav
{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,158,251,1) 0%, rgba(78,211,214,1) 100%);
}

.nav-flex-icons{
  align-items: center;
}

.profile-picture-link{
  position: relative;
  height: 45px;
  width: 45px;
}

img{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

form{
  /*margin-left: 30px;*/
  margin: 0 auto 0 auto;
}

.search-icon{
  color: white;
}

form input{
  width: 500px !important;
}

@media all and (orientation: portrait ){
  form input{
    width: 300px !important;
  }
}

.content-link{
  margin-right: 0 !important;
}

.account-link{
  margin-left: 0 !important;
}

.social-link{
  margin-right: 30px !important;
}
