<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark lighten-1 fixed-top font-weight-bolder" class="navCss" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="welcome">Zone Java</a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav content-link mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="welcome" (click)="resetSearch()" mdbWavesEffect>Accueil</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="tutorial/list" (click)="resetSearch()" mdbWavesEffect>Tutoriels</a>
      </li>
    </ul>
    <!-- Links -->

    <!--Search form-->
    <form (ngSubmit)="onSubmit(e)" #e="ngForm" class="form-inline waves-light" role="search" mdbWavesEffect>
      <div class="md-form my-0">
        <a (click)="onSubmit(e)" type="submit"><mdb-icon class="search-icon" fas icon="search" aria-hidden="true"></mdb-icon></a>
        <input [(ngModel)]="content" name="content" class="form-control" type="search" placeholder="Je cherche..." mdbInput>
      </div>
    </form>

    <ul class="ml-auto social-link navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="https://discord.gg/XZFpuBK"><mdb-icon fab icon="discord"></mdb-icon></a>
      </li>
    </ul>

    <ul *ngIf="!isLogged" class="navbar-nav account-link ml-auto nav-flex-icons">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onSignIn()" mdbWavesEffect>Se connecter</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="auth/signUp" (click)="resetSearch()" mdbWavesEffect>S'enregistrer</a>
      </li>
    </ul>

    <ul *ngIf="isLogged" class="navbar-nav account-link ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle type="button" class="profile-picture-link nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="assets/images/avatar_x-large.png" alt="photo de profile" class="img-fluid rounded-circle z-depth-0">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="account/dashboard">Mon espace personnel</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="onSignOut()">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

