<div *ngIf="tutorial">
  <div class="tutorial-view-header">
    <h1 class="font-weight-bold">{{tutorial.title}}
      <span *ngIf="loggedUserId === tutorial.writer.externalId && tutorial.status === 'Non publié'"
            class="font-weight-lighter font-italic">
        (Non publié)
      </span>
    </h1>
  </div>
  <div>
    <p class="font-italic">
      Ecrit par : {{tutorial.writer.username}} et publié le  {{tutorial.publicationDate | date: 'mediumDate'}}
      <span *ngIf="tutorial.updateTutorialDate">- Dernières modifications le {{tutorial.updateTutorialDate | date: 'mediumDate'}}</span>
    </p>
  </div>
  <hr>
  <div>
    <h4 class="font-weight-bolder">Description :</h4>
    <p class="text-justify">{{tutorial.description}}</p>
    <a href="{{tutorial.remoteRepository.link}}" *ngIf="tutorial.remoteRepository">
      <button mdbBtn type="button" color="primary" class="button" mdbWavesEffect>Répertoire distant</button>
    </a>
  </div>
</div>
<hr>

<div *ngIf="tutorial" >
  <div *ngFor="let chapter of tutorial.chapters | sortingByDate ; let i = index" >
    <app-chapter-view [chapter]="chapter"
                      [indexOfChapter]="i">
    </app-chapter-view>
  </div>
</div>

<div *ngIf="tutorial.status === 'Publié' || isLoggedUserAdmin">
  <div id="commentaryArea">
    <div class="commentary-title">
      <h4 class="font-weight-bold">Commentaires</h4>
      <p *ngIf="!loggedUserId && commentaries.length !== 0" class="ml-3">( Connectez-vous pour commenter... )</p>
    </div>
    <form *ngIf="loggedUserId && tutorial.status === 'Publié'" [formGroup]="commentaryForm" (ngSubmit)="onSaveCommentary(tutorial.externalId)">
      <div class="md-form input-group">
      <textarea #commentary id="commentary" class="form-control" maxlength="500" rows="1" name="content" placeholder="Commentez ...."
                (keyup)="autogrow()" (click)="autogrow()" formControlName="content" mdbInput></textarea>
        <button mdbBtn color="primary" size="md" class="button m-0 px-4 py-2" type="submit"
                [disabled]="commentaryForm.invalid" mdbWavesEffect>Envoyer</button>
      </div>
    </form>
  </div>

  <div *ngIf="(commentaries === undefined || commentaries.length === 0) && tutorial.status === 'Publié'">
    <p>Soyez le premier à commenter ... <span *ngIf="!loggedUserId">( connectez-vous )</span></p>
  </div>

  <div *ngIf="(commentaries === undefined || commentaries.length === 0) && tutorial.status !== 'Publié'">
    <p class="font-italic">Pas de commentaire</p>
  </div>

  <div *ngIf="commentaries" class="mt-3">
    <div *ngFor="let commentary of commentaries; let i = index">
      <app-commentary-item [commentary]="commentary"
                           [index]="i"
                           (updateEvent)="updateEventHandler($event)"
                           (deleteEvent)="deleteEventHandler($event)"
                           [loggedUserId]="loggedUserId"
                           [isLoggedUserAdmin]="isLoggedUserAdmin">
      </app-commentary-item>
    </div>
  </div>
</div>

