.tutorial-view-header{
  display: flex;
  align-content: center !important;
  margin-bottom: 20px;
}

mdb-badge{
  margin-top: 6px;
  margin-left: 20px;
}

.button{
  background-color: #3eb8e9 !important;
}

form .button{
  border-radius: 0 15px 15px 0 !important;
}

#commentaryArea{
  margin-top: 50px;
}

textarea{
  resize: none;
  padding: 5px 10px 5px 10px;
  border-radius: 15px 0 0 15px !important;
  outline: none !important;
}

textarea:focus {
  outline: none !important;
  border-color: #3eb8e9 !important;
}

.commentary-title{
  display: flex;
  align-items: baseline !important;
}
