<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="statusModal.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">Status de votre tutoriel :</h4>
    </div>
    <div class="modal-body">
      <p>Crée le : {{tutorial.creationTutorialDate | date:'medium'}}</p>
      <p *ngIf="tutorial.updateTutorialDate">Modifié le : {{tutorial.updateTutorialDate | date:'medium'}}</p>
      <div class="publication-information">
        Statut :
        <div class="publication-information-inside">
          <!-- TODO find better way to set color -->
          <mdb-badge class="publication-information-inside" *ngIf="tutorial.status == 'En attente'" pill="true" warning="true">
            {{tutorial.status}}
          </mdb-badge>
          <mdb-badge class="publication-information-inside" *ngIf="tutorial.status == 'Publié'" pill="true" success="true">
            {{tutorial.status}}
          </mdb-badge>
          <mdb-badge class="publication-information-inside" *ngIf="tutorial.status == 'Non publié'" pill="true" danger="true">
            {{tutorial.status}}
          </mdb-badge>
          <span class="publication-information-inside" *ngIf="tutorial.status == 'Publié'"> Publié le {{tutorial.publicationDate | date: 'mediumDate'}}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button mdbBtn type="button" class="submit-btn text-white" aria-label="publish" (click)="onPublish()"
                color="primary" mdbWavesEffect>Publier</button>
        <button mdbBtn type="button" class="text-white" aria-label="remove" (click)="onUnPublish()"
                color="danger" mdbWavesEffect>Retirer</button>
    </div>
  </div>
</div>
