#title{
  cursor: pointer;
}

em{
  float: right;
  margin: 0 5px 0 5px;
}

.content{
  margin-top: 15px;
}

.embed-video{
  /*margin: 20px auto 20px auto;*/
  /*overflow: hidden;*/
  /*padding-bottom: 44.47%;*/
  /*position: relative;*/
  /*width: 80%;*/
  border: solid 5px transparent;
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.55);
}

.embed-video iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


