<div class="container">

  <form class="text-center border border-light p-5" id="account-form" [formGroup]="tutorialForm"
        (ngSubmit)="onSaveTutorial()">

    <p aria-describedby="defaultRegisterFormButtonHelpBlock">
      <span class="h4 mb-4">Création de tutoriel</span>
      <small *ngIf="tutorialForm.invalid" id="defaultRegisterFormButtonHelpBlock" class="form-text mb-4 text-danger">
        Tous les champs * sont requis
      </small>
    </p>

    <!-- Title -->
    <input id="title" type="text" class="form-control mb-4 validate-error" placeholder="Titre*"
            formControlName="title">
    <!-- Description -->
    <textarea type="text" id="defaultRegisterFormLastName" class="md-textarea md-textarea-auto form-control validate-error"
              placeholder="Description*"
              formControlName="description" maxlength="500" mdbInput></textarea>
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      Max 500 caractères
    </small>

    <!-- Sign up button -->
    <button class="btn default-button my-4 btn-block" type="submit" [disabled]="tutorialForm.invalid ">Je valide et je commence la rédaction
    </button>

  </form>

</div>
