<!-- Card -->
<a class="item-card-link" (click)="onTutorial(tutorial.externalId)" mdbWavesEffect>
  <mdb-card class="hoverable">
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>{{tutorial.title}}</h4>
      </mdb-card-title>

      <!--Text-->
      <div class="card-text">
        <div class="text-justify card-description">
          {{tutorial.description.length > 200 ? (tutorial.description | slice:0:200) + '...' : tutorial.description }}
        </div>
        <div class="card-publisher">
          publié le {{tutorial.publicationDate | date: 'shortDate'}} par {{tutorial.writer.username}}
        </div>
<!--        <div class="card-info">-->
<!--          *** notes area ***-->
<!--        </div>-->
<!--        <div class="card-info">-->
<!--          *** tags area ***-->
<!--        </div>-->
      </div>
    </mdb-card-body>
    <mdb-card-footer>
      <!-- icons -->
      <mdb-icon fas icon="file-alt"></mdb-icon>
      {{tutorial ? tutorial.chapters.length : '-'}}
      <mdb-icon fas icon="video"></mdb-icon>
      {{videoCount ? videoCount : 0}}
      <mdb-icon fas icon="comment"></mdb-icon>
      {{idCountMap ? idCountMap.get(tutorial.externalId) : '-'}}
      <mdb-icon *ngIf="tutorial.remoteRepository && tutorial.remoteRepository.source.toString() == 'GITLAB'" fab icon="gitlab"></mdb-icon>
      <mdb-icon *ngIf="tutorial.remoteRepository && tutorial.remoteRepository.source.toString() == 'GITHUB'" fab icon="github"></mdb-icon>
      <mdb-icon *ngIf="tutorial.remoteRepository && tutorial.remoteRepository.source.toString() == 'BITBUCKET'" fab icon="bitbucket"></mdb-icon>
    </mdb-card-footer>
  </mdb-card>
</a>
<!-- Card -->
