/*.tutoriel-item-img{*/
/*  border-radius: 50%;*/
/*  width: 10vw;*/
/*  height: 10vw;*/
/*  margin: 0 auto 0 auto;*/
/*  background-image: url("https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg");*/
/*  background-position: center;*/
/*}*/

.btn {
  background-color: #3eb8e9 !important;
  border: none;
}

.btn:hover {
  background-color: rgba(62, 184, 233, 0.8) !important;
}

mdb-card {
  /*height: 330px;*/
  transition-duration: 1s;
}

mdb-card-body{
  height: 300px;
}

mdb-card:hover {
  transition-duration: 0.15s;
  color: #3eb8e9 !important;
}

mdb-card-footer {
  text-align: center;
  background-color: #3eb8e9;
  color: white;
}

mdb-icon {
  margin-right: 5px;
  margin-left: 5px;
}

.card-text{
  position: absolute;
  margin-right: 20px;
  height: 230px;
  display: flex;
  flex-direction: column;
}

.card-description{
  flex-grow: 1;
  padding-top: 10px;
}

.card-info{
  margin-top: 10px;
}
