<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row tutorial-redaction-header">
    <div class="col-md-9">
        <div class="md-form input-group input-group-lg">
          <input type="text" id="title" class="form-control validate-error" name="title" placeholder="Titre du tutoriel"
                 aria-label="Sizing example input" aria-describedby="title-description" maxlength="100"
                 [(ngModel)]="tutorial.title" *ngIf="tutorial" required>
        </div>
        <div class="md-form input-group input-group-md">
          <textarea type="text" id="description" class="md-textarea form-control validate-error" name="description"
                    rows="5" maxlength="500" [(ngModel)]="tutorial.description" *ngIf="tutorial"
                    placeholder="Description du tutoriel" mdbInput required></textarea>
        </div>
        <div id="large-button">
          <button mdbBtn color="light-blue" outline="true" mdbWavesEffect
                  type="button" (click)="onAddChapter(tutorial.externalId)">Ajouter un chapitre</button>
          <button mdbBtn color="yellow" outline="true" mdbWavesEffect
                  type="button" (click)="repositoryModal.show()">{{tutorial.remoteRepository ? 'Modifier le dépot distant' : 'Ajouter un dépot distant'}}</button>
          <a href="{{tutorial.remoteRepository.link}}" *ngIf="tutorial.remoteRepository">
            <p class="url-link">{{tutorial.remoteRepository.link}}</p>
          </a>
          <!-- modal repository -->
          <div mdbModal #repositoryModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <app-repository [tutorialExternalId]="tutorial.externalId"
                            [repositoryModal]="repositoryModal"
                            [repository]="tutorial.remoteRepository"
                            (updateRepositoryEvent)="onUpdateRepositoryEventHandler($event)"
                            (deleteRepositoryEvent)="onDeleteRepositoryEventHandler($event)"
            ></app-repository>
          </div>
          <!-- end modal repository-->
        </div>
    </div>
    <div class="offset-1 col-md-2 button-col">
      <button mdbBtn color="dark-green" outline="true" mdbWavesEffect
              type="submit" [disabled]="f.invalid">Enregistrer</button>
      <button mdbBtn color="dark-green" outline="true" mdbWavesEffect
              type="button" (click)="onQuit(f)">Enregistrer et quitter</button>
      <button mdbBtn color="danger" outline="true" mdbWavesEffect
              type="button" (click)="onDelete(tutorial.externalId)">Supprimer</button>
      <button mdbBtn color="light-blue" outline="true" mdbWavesEffect
              type="button" (click)="onPreview()">Aperçu</button>
      <button mdbBtn color="yellow" outline="true" mdbWavesEffect
              type="button" (click)="statusModal.show()">Statut</button>
      <!-- modal status -->
      <div mdbModal #statusModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <app-change-status [tutorialExternalId]="tutorial.externalId"
                           [statusModal]="statusModal"
                           [tutorial]="tutorial"
        ></app-change-status>
      </div>
      <!-- end modal status-->
    </div>
  </div>

  <div *ngIf="tutorial">
    <div *ngFor="let chapter of tutorial.chapters | sortingByDate ; let i = index">
      <app-chapter-redaction [chapter]="chapter"
                             [indexOfChapter]="i"
                             [tutorialExternalId]="tutorial.externalId"
                             [editorOpen]="false">
      </app-chapter-redaction>
    </div>
  </div>

</form>
