.button-col{
  display: flex;
  flex-flow: column;
  justify-content: right;
  align-items: center;
  padding: 0;
}

button{
  /*color: #3eb8e9 !important;*/
  /*border-color: #3eb8e9 !important;*/
  /*background-color: #3eb8e9 !important;*/
}

.button-col button {
  width: 100%;
}

#large-button{
  display: flex;
  float: left;
  align-items: baseline;
  margin-bottom: 10px;
}

#large-button button {
  margin-right: 10px;
}

.url-link{
  margin-left: 10px;
}
