<div class="container">

  <form class="text-center border border-light p-5" id="account-form" [formGroup]="accountForm" (ngSubmit)="onSaveAccount()">

    <p aria-describedby="defaultRegisterFormButtonHelpBlock">
      <span class="h4 mb-4">Création de compte</span>
      <small *ngIf="accountForm.invalid" id="defaultRegisterFormButtonHelpBlock" class="form-text mb-4 text-danger">
        Tous les champs * sont requis
      </small>
      <small *ngIf="errorMessage" class="form-text mb-4 alert alert-danger" role="alert">
        {{errorMessage}}
      </small>
    </p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control validate-success validate-error" placeholder="Prénom*" formControlName="firstName">
      </div>
      <div class="col">
        <!-- Last name -->
        <input type="text" id="defaultRegisterFormLastName" class="form-control validate-success validate-error" placeholder="Nom*" formControlName="lastName">
      </div>
    </div>

    <!-- E-mail -->
    <div class="mb-4">
      <input type="email" id="defaultRegisterFormEmail" class="form-control validate-success validate-error" placeholder="E-mail*" formControlName="email">
      <div *ngIf="email.touched && email.invalid && !email.errors?.notUnique">
        <small class="text-danger form-text">Vous devez renseigner une adresse email valide</small>
      </div>
      <div *ngIf="email.errors?.notUnique">
        <small class="text-danger form-text">Cette adresse mail est déjà utilisée</small>
      </div>
      <div *ngIf="email.pending">
        <small class="text-warning form-text">
          <span class="spinner-border spinner-border-sm text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </span>
          Vérification...</small>
      </div>
    </div>

    <!-- Password and Confirmation -->
    <div class="mb-4">
      <input type="password" id="defaultRegisterFormPassword" class="form-control validate-success validate-error mb-2" placeholder="Mot de passe*"
             aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password">
      <input type="password" id="defaultRegisterFormPasswordConfirmation" class="form-control validate-success validate-error" placeholder="Confirmez votre mot de passe*"
             formControlName="confirmation">
      <div *ngIf="!password.touched">
        <small class="form-text text-muted">Au moins 8 caractères et 1 chiffre</small>
      </div>
      <div *ngIf="password.touched && password.invalid && !password.errors?.noMatch">
        <small class="text-danger form-text">Au moins 8 caractères et 1 chiffre</small>
      </div>
      <div *ngIf="confirmation.errors?.noMatch && password.valid">
        <small class="text-danger form-text">Le mot de passe et sa confirmation ne correspondent pas</small>
      </div>
    </div>


    <!-- Username -->
    <div class="mb-4">
      <input type="text" id="defaultRegisterFormUsername" class="form-control validate-success validate-error" placeholder="Username"
             aria-describedby="defaultRegisterFormUsernameHelpBlock" formControlName="username">
      <div *ngIf="username.touched && username.invalid && !username.errors?.notUnique">
        <small class="text-danger form-text">Vous devez renseigner un username valide</small>
      </div>
      <div *ngIf="username.errors?.notUnique">
        <small class="text-danger form-text">Ce username est déjà pris</small>
      </div>
      <div *ngIf="username.pending">
        <small class="text-warning form-text">
          <span class="spinner-border spinner-border-sm text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </span>
          Vérification...</small>
      </div>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="light-blue" mdbWavesEffect class="default-button" type="submit" [disabled]="accountForm.invalid || accountForm.pending">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
      {{loading ? 'Enregistrement...' : 'Je valide'}}
    </button>

    <!-- Social register -->
    <p>or sign up with:</p>

    <a type="button" class="mx-2">
      <mdb-icon fab icon="facebook" class="default-icon-button"></mdb-icon>
    </a>
    <a type="button" class="mx-2">
      <mdb-icon fab icon="twitter" class="default-icon-button"></mdb-icon>
    </a>
    <a type="button" class="mx-2">
      <mdb-icon fab icon="google" class="default-icon-button"></mdb-icon>
    </a>
    <a type="button" class="mx-2">
      <mdb-icon fab icon="github" class="default-icon-button"></mdb-icon>
    </a>

  </form>

</div>
