<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (ngSubmit)="onSubmit(i)" #i="ngForm">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="repositoryModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Répertoire distant :</h4>
      </div>
      <div class="modal-body">
        <div>
          <select class="browser-default custom-select" [(ngModel)]="repository.source" name="source" required>
            <option ngValue="video.source">Selectionnez une source</option>
            <option *ngFor="let name of sources" [ngValue]="name">{{name}}</option>
          </select>
        </div>
        <div class="md-form input-group input-group-md">
          <input id="link" type="text" class="form-control validate-error" name="link" placeholder="Lien complet du répertoire distant"
                 aria-label="Sizing example input" aria-describedby="video-link" maxlength="100"
                 [(ngModel)]="repository.link" required>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbBtn type="button" class="text-white" (click)="repositoryModal.hide()"
                *ngIf="!hasRepo" color="danger" mdbWavesEffect>Annuler</button>
        <button mdbBtn type="button" class="text-white" aria-label="delete" (click)="onDeleteRepository(repository.externalId)"
                *ngIf="hasRepo" color="danger" mdbWavesEffect>Retirer</button>
        <button mdbBtn type="submit" class="submit-btn text-white" [disabled]="i.invalid"
                color="primary" mdbWavesEffect>{{hasRepo ? 'Modifier' : 'Ajouter'}}</button>
      </div>
    </form>
  </div>
</div>
