<div class="container">
  <div *ngIf="success == 'true'" class="alert alert-success fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <mdb-icon fas icon="times" class="alert-success"></mdb-icon>
    </button>
    <h4 class="alert-heading"><strong>Bienvenue parmis nous !!!</strong></h4>
    <hr>
    <p class="mb-0">Connecte toi pour accéder à ton espace personnel.</p>
  </div>
  <div class="jumbotron card card-image"
       style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); margin-top: 50px">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Zone-java.fr coming soon...</strong></h2>
        <p class="mx-5 mb-5">La version actuelle : {{version}} {{version.toString() === '1.0.0' ? ' - Version présentée en soutenance du P12' : ''}}</p>
        <p class="mx-5 mb-5">
          N'hésitez pas à ouvrir un ticket si vous rencontrez des erreurs, ou à m'en faire part sur le discord.<br>
          Vous pouvez retrouver le dépot gitlab du projet en cliquant sur le lien ci-dessous :
        </p>
        <a href="https://gitlab.com/zone-java">
          <button mdbBtn class="text-white" mdbWavesEffect>
            Projet
          </button>
        </a>
      </div>
    </div>
  </div>
  <div></div>
  <div>
    <table class="table table-striped table-responsive-md btn-table" id="achievements">

      <thead>
      <tr>
        <th id="row">#</th>
        <th id="content">Content</th>
        <th id="date">Release version</th>
        <th id="release">Release date</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th scope="row">ZJ-3</th>
        <td>Create account</td>
        <td>0.1</td>
        <td>03.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-1</th>
        <td>Log in / Access to Dashboard</td>
        <td>0.2</td>
        <td>09.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZC-2</th>
        <td>Log out</td>
        <td>0.2</td>
        <td>09.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZC-12</th>
        <td>Tutorial redaction</td>
        <td>0.3</td>
        <td>16.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZC-35</th>
        <td>Display user tutorials in Dashboard</td>
        <td>0.3</td>
        <td>16.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-13</th>
        <td>Add a video link to a chapter</td>
        <td>0.4</td>
        <td>21.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-36</th>
        <td>Add a remote repository link to a tutorial</td>
        <td>0.4</td>
        <td>21.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-14</th>
        <td>Publish/Unpublish a tutorial</td>
        <td>0.4</td>
        <td>21.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-34</th>
        <td>Display all pusblished tutorials</td>
        <td>0.4</td>
        <td>21.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-35</th>
        <td>Edit my tutorials</td>
        <td>0.4</td>
        <td>21.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-34</th>
        <td>Add pagination to tutorial list</td>
        <td>0.5</td>
        <td>26.06.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-16</th>
        <td>Comment a tutorial</td>
        <td>0.6</td>
        <td>03.07.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-29</th>
        <td>Moderate commentaries - Admin</td>
        <td>0.6</td>
        <td>10.07.2020</td>
      </tr>
      <tr>
        <th scope="row">ZJ-20</th>
        <td>Search a tutorial by keyword (RELEASE)</td>
        <td>1.0</td>
        <td>15.07.2020</td>
      </tr>
      </tbody>

    </table>
  </div>

</div>
