.video-panel {
  padding: 5px 20px 5px 20px;
  align-items: baseline;
}

#chapter-button {
  padding-right: 0!important;
  display: flex;
  justify-content: flex-end;

}

#chapter-button button{
  margin-right: 0 !important;
}

ckeditor {
  width: 100% !important;
}

.md-form {
  margin: 5px 0 5px;
}

.url-link {
  margin-left: 20px;
}
