<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form (ngSubmit)="onSubmit(h)" #h="ngForm">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="videoModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Vidéo d'illustration du chapitre (beta : only Youtube)</h4>
      </div>
      <div class="modal-body">
        <div>
          <select class="browser-default custom-select" [(ngModel)]="video.source" name="source" required>
            <option ngValue="video.source?video.source:''">Selectionnez une source</option>
            <option *ngFor="let name of sources" [ngValue]="name">{{name}}</option>
          </select>
        </div>
        <div class="md-form input-group input-group-md">
          <input type="text" class="form-control validate-error" name="link" placeholder="Lien complet de la vidéo"
                 aria-label="Sizing example input" aria-describedby="video-link" maxlength="100"
                 [(ngModel)]="video.link" required>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbBtn type="button" class="text-white" aria-label="Close" (click)="videoModal.hide()"
                *ngIf="!hasVideo" color="danger" mdbWavesEffect>Annuler</button>
        <button mdbBtn type="button" class="text-whitet" aria-label="delete" (click)="onDeleteVideo(video.externalId)"
                *ngIf="hasVideo" color="danger" mdbWavesEffect>Retirer</button>  <!-- TODO find a better way to change button text -->
        <button mdbBtn type="submit" class="submit-btn text-white" [disabled]="h.invalid"
                color="primary" mdbWavesEffect>{{hasVideo ? 'Modifier' : 'Ajouter'}}</button>
      </div>
    </form>
  </div>
</div>
