/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  padding: 0;
}

/* test frame */
.test-frame-red {
  border: 1px solid red;
}
.test-frame-blue {
  border: 1px solid #2f53ff;
}
.test-frame-green {
  border: 1px solid #21ff25;
}
