.dashboard-header
{
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.user-information
{
  display: flex;
  text-align: end;
}

.name-information{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.picture-profil img{
  margin-left: 20px;
  height: 150px;
  width: 150px;
}

.edit-icon{
  padding-right: 15px;
}

.tutoriel{
  transition-duration: 1s;
  cursor: pointer;
  font-size: 15px;
}

.tutoriel:hover{
  transition-duration: 0.15s;
  color: #3eb8e9 !important;
}

.button-col{
  display: flex;
  flex-flow: column;
  justify-content: right;
  align-items: center;
  padding: 0;
}

.button-col button {
  width: 100%;
  margin: 5px 0 5px 0;
  color: white;
  background-color: #3eb8e9 !important;
}

.btn:hover {
  background-color: rgba(62, 184, 233, 0.8) !important;
}

mdb-badge{
  float: right !important;
}

mdb-badge .color-success{
  background-color: #24d427 !important;
}

.color-danger mdb-badge{
  background-color: #ff2121 !important;
}

mdb-badge .color-info{
  background-color: #ffe121 !important;
}
