<div class="dashboard-header">
  <h1 class="font-weight-bold mr-auto">Mon espace personnel</h1>
  <div class="user-information">
    <div class="name-information" *ngIf="userAccount">
      <h3>{{userAccount.firstName}}</h3>
      <h3>{{userAccount.lastName}}</h3>
    </div>
    <div class="picture-profil">
      <img src="assets/images/avatar_x-large.png" alt="photo de profil">
    </div>
  </div>
</div>

<br>

<div class="row dashboard-content">
  <div class="col-md-8">
    <div>
      <h3 class="font-weight-bold">Mes tutoriels : </h3>
      <hr>
      <div *ngIf="userTutorials === undefined || userTutorials.length === 0" class="font-italic">
        Vous n'avez pas encore écrit de tutoriel...
      </div>
      <ul id="tutoriel-list" class="list-group list-group-flush" *ngFor="let tutoriel of userTutorials; let i = index">
        <li class="list-group-item tutoriel d-flex justify-content-between align-items-center" (click)="onTutorial(tutoriel.externalId)" mdbWavesEffect>
          <div class="edit-icon" [ngClass]="!modifyTutorial ? ['collapse', 'hidden-xs', 'visible-xs'] : []">
            <mdb-icon far icon="edit"></mdb-icon>
          </div>
          <span class="flex-1">{{tutoriel.title}}</span>
          <!-- TODO find better way to set color -->
          <mdb-badge *ngIf="tutoriel.status == 'En attente'" pill="true" warning="true">
            {{tutoriel.chapters.length}} chapitre(s) / {{tutoriel.status}}
          </mdb-badge>
          <mdb-badge *ngIf="tutoriel.status == 'Publié'" pill="true" success="true">
            {{tutoriel.chapters.length}} chapitre(s) / {{tutoriel.status}}
          </mdb-badge>
          <mdb-badge *ngIf="tutoriel.status == 'Non publié'" pill="true" danger="true">
            {{tutoriel.chapters.length}} chapitre(s) / {{tutoriel.status}}
          </mdb-badge>
        </li>
      </ul>
    </div>
  </div>
  <div class="offset-1 col-md-3 button-col">
    <button mdbBtn mdbWavesEffect type="button" disabled>Modifier mon profil</button>
    <button mdbBtn mdbWavesEffect type="button" (click)="onNewTutorial()">Ecrire un tutoriel</button>
    <button mdbBtn mdbWavesEffect type="button" (click)="onEditTutorial()"
            *ngIf="userTutorials !== undefined && userTutorials.length !== 0">Modifier un tutoriel</button>
  </div>
</div>
