.commentary{
  margin: 10px 0 10px 0;
  padding: 5px 10px 5px 10px;
  border: 1px solid #3eb8e9;
  border-radius: 15px;
  align-content: center;
}

.commentary p{
  padding: 0;
  margin: 0;
}

mdb-icon {
  display: none;
}

mdb-icon:hover{
  color: #3eb8e9 !important;
  cursor: pointer !important;
}

.commentary:hover mdb-icon {
  display: inline-flex;
}
