<div class="commentary">
  <p class="text-justify">
    {{commentary.content}} -
    <small class="font-italic">
      écrit par {{commentary.writer.username}} le {{commentary.creationCommentaryDate | date: 'shortDate'}}
      <span *ngIf="commentary.updateCommentaryDate" class="text-muted dark-grey-text">(modifié)</span>
      <span *ngIf="loggedUserId === commentary.writer.externalId || isLoggedUserAdmin">
        <mdb-icon fas icon="edit" class="ml-1" (click)="onUpdateCommentary(commentary)"></mdb-icon>
        <mdb-icon fas icon="times" class="ml-1" (click)="onDeleteCommentary(commentary.externalId)"></mdb-icon>
      </span>
    </small>
  </p>
</div>
