.tutoriel-list .tutoriel-item{
  margin: 10px 0 10px 0;
  width: 30%;
}

@media all and (orientation: portrait ) {
  .tutoriel-list{
    justify-content: center !important;
  }
  .tutoriel-list .tutoriel-item{
    width: 350px !important;
  }
}

nav{
  margin-top: 30px;
}

.active a{
  background-color: #3eb8e9 !important;
}
