<div class="row tutoriel-list" *ngIf="tutorials">
  <div class="col-md-4 tutoriel-item" *ngFor="let tutorial of tutorials; let i = index">
    <app-tutorial-item [tutorial]="tutorial"
                       [indexOfTutorial]="i"
                       [commentaryCount]="0">
    </app-tutorial-item>
  </div>
</div>

<div *ngIf="noResult" class="flex-center mt-3">
  <h4 class="font-italic font-weight-light">Pas de résultats</h4>
</div>
<div *ngIf="errorConnection" class="flex-center mt-3">
  <h4 class="font-italic font-weight-light">Le service n'est pas joignable</h4>
</div>

<nav *ngIf="!noResult && !errorConnection && tutorials !== undefined" aria-label="Page navigation example">
  <ul class="pagination pagination-circle justify-content-center">
    <li class="page-item" [ngClass]="{ 'disabled' : currentPage == 0 }">
      <a class="page-link" (click)="getFirstPage()" mdbWavesEffect>First</a></li>
    <li class="page-item" [ngClass]="{ 'disabled' : currentPage == 0 }">
      <a class="page-link" aria-label="Previous" (click)="getPreviousPage()" mdbWavesEffect>
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li *ngFor="let page of pages; let index = index" class="page-item" [ngClass]="{ 'active' : currentPage == index }">
      <a class="page-link" (click)="getPage(index,keyword)" mdbWavesEffect>{{index + 1}}</a></li>
    <li class="page-item" [ngClass]="{ 'disabled' : currentPage == pages.length - 1 }">
      <a class="page-link" aria-label="Next" (click)="getNextPage()" mdbWavesEffect>
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li class="page-item" [ngClass]="{ 'disabled' : currentPage == pages.length - 1 }">
      <a class="page-link" (click)="getLastPage()" mdbWavesEffect>Last</a></li>
  </ul>
</nav>
